
.navbar	{
			margin-bottom: 0;
			border-radius: 0;
}
   

.row{
			margin-bottom:50px;
		
		
}
	
	
footer	{
			padding: 25px;
			height: 20%;
			margin:10px;
}


h2 {		color: #3366ff;
			font-family : ariel;
	
} 

.a img {	
			border-radius: 8px;
			margin: 10px;
	
}

.a  { 
			font-size: 1.8em; 
			color: white;
}








